.main {
  margin-top: 50px;
}

.main__container {
  display: grid;
  grid-template-columns: 6fr 2fr;

  column-gap: 40px;

  max-width: 1780px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: content-box;
}

.main__block {
  /* width: 1310px; */
}

/* ============  heading ============== */

.main__heading {
  display: flex;
  align-items: center;
  min-height: 52px;
  /* background-color: rgb(86, 86, 86); */
}

.main__heading_symbols {
  margin-right: 45px;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
}

.token__info {
  display: flex;
  gap: 40px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.row *+* {
  margin-top: 6px;
}

.row__head_token {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.row__head {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.row__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ============  chart ============== */

.main__chart {
  margin-top: 20px;
}

.chart {
  position: relative;
}

.chart__soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;

  padding: 24px 32px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid;
  border-image: linear-gradient(159.63deg, #FFFFFF -12.58%, rgba(255, 255, 255, 0) 86.46%) 1;
}

.chart__soon:hover {
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
  box-shadow: 0px 0px 15px #02EDFF;
}

.chart img {
  width: 100%;
  height: 100%;
  filter: blur(6px);
}

/* ============== downbar =========== */
.main__downbar {
  margin: 20px 0 20px;
  height: 222px;
}

.downbar__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.downbar_menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.6;
}

.downbar_menu__link_active {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.downbar__orderbook {
  position: relative;
  background-color: #1B1E2D;
  border-radius: 10px;
  padding: 20px 40px;
}

.orderbook__menu {
  display: flex;
  justify-content: space-between;
}

.downbar__orderbook::before {
  content: '';
  position: absolute;
  border: 1px solid #0F0E14;
  width: 100%;
  top: 56px;
  left: 0;
}

.orderbook__menu li {
  text-align: center;
}

.orderbook__menu *+* {
  text-align: center;
  margin-left: 8px;
}


.orderbook__menu .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.orderbook__content {
  margin-top: 33px;
}

.downbar__get_reward {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 33px;
}

.downbar__get_reward h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.btn__reward {
  width: 200px;
  background: #48A7FF;
}

.btn__reward:hover {
  box-shadow: 0px 0px 14px rgba(2, 237, 255, 0.5);
}

.btn__reward:active {
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
  box-shadow: 0px 0px 14px rgba(2, 237, 255, 0.5);
}


@media (max-width: 1319px) {
  .header__logo .btn_feedback {
    display: none;
  }

  .main__heading_symbols {
    margin-right: 25px;
  }

  .token__info {
    display: flex;
    gap: 30px;
  }

  .downbar__orderbook {
    padding: 20px 20px;
  }
}

@media (max-width: 1180px) {


  .main__heading_symbols {
    margin-right: 45px;
  }

  .token__info {
    display: flex;
    gap: 40px;
  }

  .downbar__orderbook {
    padding: 20px 20px;
  }

  .main__container {
    display: grid;
    grid-template-columns: auto;

    column-gap: 40px;

    max-width: 1780px;
    padding: 0 30px;
  }
}

@media (max-width: 1023px) {}

@media (max-width: 861px) {}

@media (max-width: 767px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;

    column-gap: 0px;
    padding: 0 20px;
  }

  .main__heading_symbols {
    margin-right: 25px;
    font-size: 28px;
  }

  .token__info {
    gap: 20px;
  }

  .row__head_token {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .row__head {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }

  .row__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main__downbar {
    margin: 20px 0 30px;
    min-height: 222px;
  }


  .downbar__menu .menu__link {
    font-size: 14px;
  }

  .downbar__menu .menu__link_active {
    font-size: 14px;
  }

  .downbar__orderbook {
    padding: 20px 20px;
  }

  .orderbook__menu .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .downbar__get_reward h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
  }

  .orderbook__content p {
    margin-top: 26px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .main__container {
    padding: 0 12px;
  }

  .main__heading_symbols {
    margin-right: 25px;
    font-size: 20px;
  }

  .token__info {
    gap: 16px;
  }

  .row__head_token {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }

  .row__head {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }

  .row__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .orderbook__menu .menu__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .downbar__orderbook {
    padding: 12px 12px;
  }

  .downbar__get_reward h3 {
    font-size: 14px;
  }
}