/* ========= sidebar =========== */
.main__sidebar {}


.sidebar_block {
  background-color: #1B1E2D;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px 18px;
}

/* ========= sidebar-trade =========== */

.sidebar__trade {}

.trade__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.trade_btn {
  cursor: pointer;
  height: 44px;
  background-color: #292D46;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.long__btn {
  border-top-left-radius: 62px;
  border-bottom-left-radius: 62px;
}

.short__btn {}

.swap__btn {
  border-top-right-radius: 62px;
  border-bottom-right-radius: 62px;
}

.trade_btn_active {
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
}

.trade__pay {
  margin-top: 10px;
}

.pay__trade_type {
  display: flex;
  padding-left: 10px;
  gap: 20px;
  margin-bottom: 10px;
}

.pay__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.6;
}

.pay__link_active {
  font-weight: 500;
  color: #FFFFFF;
  opacity: 1;
}


/* =========== inputs =========== */
.pay__receive {
  position: relative;
}


.pay__block {
  margin: 10px 0;
  background-color: #292D46;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  height: 100px;
  padding: 0 30px;
}

.input__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.6;
}

.input__token {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.pay__input_block {
  display: flex;
  flex-direction: column;
}

.pay__input {
  margin-top: 6px;
  border: none;
  background-color: #292D46;
  height: 26px;
  max-width: 70%;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  box-sizing: border-box;
}

.pay__input[type=number]::-webkit-inner-spin-button,
.pay__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pay__input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.pay__input::placeholder {
  color: #FFFFFF;
}

.btn_swap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
  box-shadow: 0px 0px 14px rgba(2, 237, 255, 0.5);
  border-radius: 62px;
}

.pay__fees {
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}

.pay__btn_wallet {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;

  cursor: pointer;
  background: linear-gradient(137.6deg, #02EDFF -13.92%, #48A7FF 104.32%);
  border-radius: 62px;
  border: none;
}

/* ========= sidebar-swap =========== */
.sidebar__swap {}

.sidebar__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.swap__content_block {
  width: 100%;
  background-color: #292D46;
  padding: 10px 20px;
}

.swap__content_block>*+* {
  margin-top: 10px;
}

.swap__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swap__row_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  opacity: 0.6;
}

.swap__row_value {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

/* ========= sidebar-feedback =========== */
.sidebar__feedback {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #292D46;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.feedback__input::placeholder {
  font-family: 'Craftwork Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.6;
}

.feedback__feedback_btn {
  align-self: end;
  width: 60%;
}